body{
  margin-top: 100px;
  font-family: 'Lato', 'sans-serif';
}

.jumbotron{
  background-image: url("https://images.pexels.com/photos/79051/fire-light-79051.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

#sub-jumbo{
  font-weight: 400;
}

.glyphicon{
  margin-right: 5px;
}

.thumbnail img{
  width: 100%;
}

.thumbnail{
  padding: 0;
}

.thumbnail .caption-full{
  padding: 9px;
}

.heading{
  text-align: center;
}

.form{
  width: 40vw;
  max-width: 60%;
  margin: 30px auto;
}

.delete-form{
  display: inline;
}
